nav, footer {
  position: absolute;
  width: 100%;
}

ul {
  display: inline-block;
}

li {
  display: inline;
}

nav {
  top: 0;
}

#nav-right {
  float: right;
}

footer {
  bottom: 0;
}

#footer-right {
  float: right;
}

main {
  display: block;
  margin: 100px auto;
  text-align: center;
}
